---
import ShareIn from "./icons/ShareIn.astro";
import ShareX from "./icons/ShareX.astro";

const { URL, message, headings, tags } = Astro.props;
---

<style lang="scss">
  .share-component {
    .share-title {
      font-size: 24px;
      font-weight: bold;
    }

    .share-list {
      list-style: none;
      margin: 0;
      padding: 0 0 20px;
      li {
        display: inline-block;
      }
    }
  }

  .share-main {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
    padding: 0px 10px 0 0;
    .heading {
      .heading-title {
        font-size: 24px;
        font-weight: bold;
      }
      .heading-list {
        list-style: none;
        margin: 0 0 20px;
        padding: 0;
        .tag {
          line-height: normal;
          a {
            color: black;
            font-size: 12px;
            font-weight: bold;
            text-decoration: none;
          }
        }

        .depth- {
          &3 {
            padding-left: 10px;
          }
          &4 {
            padding-left: 15px;
          }
          &5 {
            padding-left: 20px;
          }
          &6 {
            padding-left: 25px;
          }
        }
      }
    }
  }

  .tags {
    .tags-title {
      font-size: 24px;
      font-weight: bold;
    }
    ul {
      list-style: none;
      // text-align: center;
      padding: 0;
      width: 80%;
      li {
        padding: 6px;
        background-color: var(--accent);
        margin: 5px 0;
        font-size: 14px;
        box-shadow: 3px 3px black;
        font-weight: bold;
        border: 1px dashed black;

        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
</style>

<div class="share-main">
  <div class="share-component">
    <span class="share-title">Share</span>
    <ul class="share-list">
      <li>
        <a
          href={`https://x.com/intent/tweet?text=${message + " " + URL}`}
          aria-label="Share on X"><ShareX /></a
        >
      </li>
      <li>
        <a
          href={`https://www.linkedin.com/shareArticle?mini=true&url=${URL}`}
          aria-label="Share on LinkedIn"
        >
          <ShareIn /></a
        >
      </li>
    </ul>
  </div>
  {
    headings.length > 2 && (
      <div class="heading">
        <span class="heading-title">Heading</span>
        <ul class="heading-list">
          {headings.map(
            (item: { text: string; slug: string; depth: number }) => {
              return (
                <li class={`tag  depth-${item.depth}`}>
                  <a href={`#${item.slug}`}>{item["text"]}</a>
                </li>
              );
            }
          )}
        </ul>
      </div>
    )
  }

  {
    tags && tags.length > 0 && (
      <div class="tags">
        <span class="tags-title">Tags</span>
        <ul>
          {tags.map((d: string) => {
            return (
              <li>
                <a href={`/tags/${d.toLowerCase()}`}>{d}</a>
              </li>
            );
          })}
        </ul>
      </div>
    )
  }
</div>
